div.markdown-style {
    max-width: 1200px !important;
}

h1, h2, h3, h4, h5, h6 {
    &[id^=warning] {
        color: #d9534f;
    }
    &[id^=caveat] {
        color: #f0ad4e;
    }
}

th:empty {
    display:none;
    }
/* td:empty {
display:none;
} */