## {{sectionLink}}{{name}}{{definition}}

{{description}} {{alternatives}}

### Example

```lua
{{example}}
```

### External Links
 - {{officialURL}}

{{json}}

[< Back to `{{section}}`]({{sectionURL}})